@model IEnumerable<HoliDayRental.Models.BienEchangeList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@*@Html.Partial("_BienEchangeListPartial")*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescCourte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescCourte)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePerson)
                </td>
                <td>
                    <img class="imgList" src="~/images/biens/@Html.DisplayFor(modelItem => item.Photo)" />
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.idBien })
                </td>
            </tr>
        }
    </tbody>
</table>